body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #2e2f42;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.16667;
  text-transform: uppercase;
  text-decoration: none;
}
.accent {
  color: #4d5ae5;
}
.menu-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
ul {
  list-style-type: none;
}
.addres-info a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
h1 {
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-section {
  background: #2e2f42;
  width: 1440px;
  height: 600px;
}
.hero-button {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  color: #fff;
}
.hidden-title {
  display: none;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: left;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  color: #2e2f42;
}
